.chapterBody {
  /* gpt suggestion */
  background-color: #1F2937;
  color: #F9FAFB;
  width: 100%;
}

/* .openTop {
  border-bottom: 4px solid #3B82F6;
} */

.unitsField {
  background-color: #1f69e0;
  color: rgb(249, 250, 251);
}

@media only screen and (min-width: 769px){
  .chapterBody {
    width: 80%;
  }
}