.nameDisplay {
  /* border-bottom: px solid black; */
  padding-bottom: 8px;
}

.descriptionBody {
  background-color: #FBBF24;
  color: #1F2937;
}

.unitBody {
  border-bottom: 1px solid #F9FAFB;
}

.linkField {
  
}